import { FC, memo } from 'react';
import style from './index.module.scss';

const <%= name %>:FC = memo(() => {
  return (
    <div>
      <%= name %>
    </div>
  );
});

export default <%= name %>;
